# all file under dataset, this is a gitingore file
dataset/
*.pyc
wandb/
*.out
*.csv
*.yaml
*.pt
*.pth
*.log
*.json
*.pkl
*.h5
*.npy
*.bin
*.zip
*.tar.gz
*.tar
*.rar
*.7z
*.pdf
*.docx
*.xlsx
*.pptx
*.txt
*.md
*.rst
*.csv
*.tsv
*.xls
*.xlsx
*.pdf
*.pth
*.log
lightning_logs/*
*.parquet